<a href="https://colab.research.google.com/github/Nihal-18/AI/blob/master/CW/CW_J058_110720.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
a = 5
a = 'five'

In [3]:
print(a)

five

In [4]:
print 5

SyntaxError: ignored

In [5]:
print(5)

5

In [22]:
  a=4
b=6
c=8

In [7]:
b

6

In [8]:
a

5

In [12]:
if b<0:
  print('a')

In [25]:
def printer():
  a=5
  b=6
  print(a+b)

def sum(a,b):
  return a+b

In [23]:
printer()

10

In [24]:
sum(a,c)

12

In [26]:
a=c

In [27]:
a

8

In [31]:
if a==c:
  print(True)

True

In [33]:
int('10',2)

2

In [34]:
float(int('111',3))

13.0

In [38]:
int('1A1212',11)

309047

In [39]:
int('1B1212',12)

478958

In [41]:
str(float(int('1212',9)))

'902.0'

In [43]:
def sum():
  a= 'skjd jsabbalsdflhs ghakbeb \n j,dnke aehrf jkd '

In [46]:
#help('traceback')

In [50]:
a_=4
_a_=5
a=6
_a=9  # variable is intended for internal use (private variables)
__a=12 #

In [49]:
def make_a(a,class_):
  pass

In [ ]:
# public variable vs private

class human:
  """Members of a class"""
  # attribute - variables - compulsory
  # method / behaviour - function - compulsory

In [66]:
class Student:
  
  def __init__(self,name):
    self.__name = name
    self.__a=6
  def displayName(self):
    print(self.__name)
    print(self.__a)

# Class vs object
s1 = Student("Santosh")
s1.displayName()

# raises an error
print(s1._Student__name)

Santosh
6
Santosh

In [62]:
#dir(s1)

In [63]:
class student1(Student):
  def __init__(self):
    print(self.a)
    print(self.__name)

In [65]:
s2=student1('Santosh1')

TypeError: ignored

In [64]:
s1._Student__a

6

In [67]:
import pandas as pd

In [68]:
a = pd.DataFrame()

In [70]:
lis = ['a','b','c']
a=pd.DataFrame(columns=lis)

In [71]:
a=pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv")

In [72]:
a

                    John       Doe  ...   NJ  08075
0                   Jack  McGinnis  ...   PA   9119
1          John "Da Man"    Repici  ...   NJ   8075
2                Stephen     Tyler  ...   SD  91234
3                    NaN  Blankman  ...   SD    298
4  Joan "the bone", Anne       Jet  ...   CO    123

[5 rows x 6 columns]

In [ ]:
# Create a custom class to read a csv and json file using pandas
# Create a custom function within the class to select any 2 rows of the dataframe 
# Create a sub class DataRead2 that has a function for correlation plots (using any lib for correlation plot)
# Within DataRead2 also create a function to override the custom function of DataRead1 Rowselect to select 3 rows